@import '../../style/variables.scss';


.char__settings {
  position: sticky;
  top: 25px;

  @media screen and (max-width: 1100px) {
    position: relative;
    top: 0;

    margin: 0 auto 25px;
    max-width: 500px;
  }

  @media screen and (max-width: 440px) {
    max-width: 337px;
  }
}

.char__info {
  padding: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  z-index: 5;
  background-color: #fff;

  .skeleton {
    margin-top: 30px;
  }

  &-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
  }
}

.char__basics {
  display: grid;
  grid-template-columns: 150px auto;
  column-gap: 25px;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    }
}

.char__btns {
  margin-top: 35px;

  a:nth-child(2) {
    margin-top: 10px;
  }
}

.char__descr {
  margin-top: 15px;
  font-size: 14px;
  line-height: 18px;
}

.char__comics {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;

  &-list {
    position: relative;
    margin-top: 10px;
  }

  &-item {
    width: 100%;
    padding: 0px 10px;
    line-height: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    text-align: center;
  }
}

.char__select {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.char__animate {
  &-enter {
    opacity: 0;
    transform: scale(1.2);

    &-active {
      opacity: 1;
      transform: scale(1);
      transition: all 800ms;
    }
  }

  &-exit {
    opacity: 1;
    transform: scale(1);

    &-active {
      opacity: 0;
      transform: scale(0.8);
      transition: all 200ms;
    }
  }
}