@import '../../style/variables.scss';

.randomchar {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(1, 100%);

    max-width: 700px;
    margin: 0 auto;
  }
}

.randomchar__block {
  padding: 40px 35px;

  height: 240px;

  display: grid;
  grid-template-columns: 180px auto;
  column-gap: 30px;

  @media screen and (max-width: 1200px) {
    padding: 30px 15px;
  }

  @media screen and (max-width: 500px) {
    height: 280px;
  }
}

.randomchar__img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.randomchar__info {
  display: grid;
  grid-template-rows: minmax(29px, auto) 90px 38px;
  row-gap: 10px;
  padding-top: 3px;

  @media screen and (max-width: 510px) {
  grid-template-rows: minmax(29px, auto) auto auto;
  }
}

.randomchar__name {
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
}

.randomchar__descr {
  font-size: 14px;
  line-height: 18px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.randomchar__btns {
  a:nth-child(1) {
    margin-right: 25px;
  }

  a {
    @media screen and (max-width: 510px) {
      margin-top: 5px;
    }
  }
}

.randomchar__static {
  padding: 40px 35px;
  background-color: $dark;
  position: relative;

  button {
    margin-top: 13px;
  }

  @media screen and (max-width: 1200px) {
    padding: 30px 15px;
  }
}

.randomchar__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.045em;
  color: #FFFFFF;

  &:nth-child(2) {
    margin-top: 33px;
  }
}

.randomchar__decoration {
  position: absolute;
  bottom: 14px;
  right: 0;

  @media screen and (max-width: 500px) {
    width: 150px;
  }
}